.sudoku-popover-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
}
.sudoku-cell-close {
  background-color: grey;
  background-image: none;
}
